/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&display=swap');
@import url("https: //fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,700;1,400&amp;display=swap");
@import url("https://fonts.gstatic.com");
@import url("https://fonts.googleapis.com/css?family=Nunito+Sans:300i,400,700&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css");
@import url("https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css");




.cursive {
  font-family: "Amatic SC";
  font-weight: 700;
}

.prose img {
  margin-left: auto;
  margin-right: auto;
  border-radius: 5px;
}

.home-name{
  font-size: 150px;
}

.text{
  font-size: large;
  
  
}

.textHead {
  font-size: 70px;
  line-height: 1;
}

@media screen and (max-width: 768px) {
  .home-name {
    font-size: 100px;
  }
}

@media screen and (max-width: 320px) {
  .home-name {
    font-size: 80px;
  }
}
@media screen and (max-width: 1024px) {
  .text {
    font-size: 12px;
    color: black;


  }
}

@media screen and (max-width: 768px) {
  .text {
    font-size:12px;
    color: black;

    
   
  }
}

@media screen and (max-width: 320px) {
  .text {
    font-size: 10px;
    text-align: justify;
    color: black;
    
  }
}

@media screen and (max-width: 768px) {
  .textHead {
    font-size: 50px;
    line-height: 1.5;
    text-align: center;
  }
}

@media screen and (max-width: 320px) {
  .textHead {
    font-size: 30px;
    line-height: 1.5;
    text-align: center;
  }
}


